/* 
.color-palette-image {
    display: flex;
    margin-top: 10px; 
}

.color-swatch-image {
    width: 20px; 
    height: 20px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
} */
